{% load static %}


 <div class="bg-color-sky-light" data-auto-height="true">
            <div class="content-lg container">
                <div class="row row-space-1 margin-b-2">

                    <h1 class="title-why">Почему мы? </h1></div>
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" data-height="height" >
                                <div class="service-element">
                                    <i class="service-icon icon-chemistry"  style="background-image:url('../static/img/icon.png')">d</i>
                                </div>
                                <div class="service-info">
                                    <h3>Внимание к каждому студенту</h3>
                                    <p class="margin-b-5">В Колледже «Сервер» студенты учатся в малокомплектных группах и преподаватели уделяют на занятиях внимание каждому</p>
                                </div>
                                <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-screen-tablet"  style="background-image:url('../static/img/icon-2.png')">d</i>
                                </div>
                                <div class="service-info"  >
                                    <h3>Консультации</h3>
                                    <p class="margin-b-5">По каждому предмету студент может получить консультацию после занятий, а консультации по сложным предметам внесены в расписание как регулярные.</p>
                                </div>
                                <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-badge" style="background-image:url('../static/img/icon-3.png')">d</i>
                                </div>
                                <div class="service-info">
                                    <h3>Олимпиады</h3>
                                    <p class="margin-b-5">студенты колледжа участвуют в городских олимпиадах по предметам и занимают призовые места.</p>
                                </div>
                                <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// end row -->

                <div class="row row-space-1">
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-notebook" style="background-image:url('../static/img/icon-4.png')">d</i>
                                </div>
                                <div class="service-info">
                                    <h3>Библиотеки</h3>
                                    <p class="margin-b-5">В колледже работает современная электроннаяи печатная библиотека, которая каждый год пополняется новыми книгами и журналами.</p>
                                </div>
                                <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".5s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-speedometer" style="background-image:url('../static/img/icon-5.png')">d</i>
                                </div>
                                <div class="service-info">
                                    <h3>Организованность</h3>
                                    <p class="margin-b-5">У каждой группы есть свой куратор, который постоянно общается со студентами и родителями, контролирует посещаемость и успеваемость, сообщает о проблемах и помогает их решать.</p>
                                </div>
                                <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".6s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-badge" style="background-image:url('../static/img/icon-6.png')">d</i>
                                </div>
                                <div class="service-info">
                                    <h3>Колледж — это как одна семья</h3>
                                    <p class="margin-b-5"> В колледже нет многотысячного потока студентов, где никто друг друга не знает, а здесь за счет небольшого количества студентов на курсе создается особая атмосфера между студентами и преподавателями</p>
                                </div>
                                <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>



<section class="section-two" id="section-two">



                <!-- image-content -->

                <section>

                	<div class="col-xs-12 col-sm-6 col-md-6">

                    	<article>

                        	<h2>Как поступить в колледж?</h2>

                            <p>Вы можете прийти на информационное собрание каждый четверг в 18:00, где вам еще раз подробно расскажут о колледже, познакомят с правилами приема и обучения, ответят на все ваши вопросы или позвонить по телефону секретарю-организатору 777-97-10, 777-97-13 для краткой информации..</p>


                        </article>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">

                        <figure class="row" style="background-image:url('../static/img/images-1.jpg')"></figure>

                    </div>

                 </section>

                <!-- image-content -->

                <div class="clearfix"></div>

                 <!-- image-content -->

                 <section>

                    <div class="col-xs-12 col-sm-6 col-md-6">

                    	<figure class="row" style="background-image:url('../static/img/images-2.jpg')"></figure>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">

                    	<article>

                    		<h2>Что ещё нужно ?</h2>

                            <p>Для поступления в колледж нужно сдать несколько экзаменов. Но не пугайтесь — у нас система поступления тоже особенная.Наша задача не «отсеять», а принять, но не всех, а тех, кто будет подготовлен для обучения в колледже. </p>

                            <p>Поэтому в колледже организованы занятия по подготовке к экзаменам, где можно заново разобрать основы математики, физики, рисунка и грамматики украинского языка с нуля! После занятий можно попробовать сдать предварительный экзамен. Если не сдали, то не страшно — можно позаниматься индивидуально и снова сдавать предварительный экзамен. Мы заинтересованы принять подготовленных абитуриентов!</p>

                        </article>

                    </div>
                 </section>
</section>
<div id="fh5co-started">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Есть ещё вопросы?</h2>
					<h2 class="dop">Для получение более подробной информации позвоните или напишите нам на почту</h2>
					<p><a href="#" class="btn btn-default btn-lg">Связаться с нами</a></p>
				</div>
			</div>
		</div>
	</div>
