<footer class="footer-distributed">

			<div class="footer-left">

				<h3><span>Server</span></h3>

				<p class="footer-links">
					<a href="#"></a>

					<a href="#"></a>

					<a href="#"></a>

					<a href="#"></a>

					<a href="#"></a>

					<a href="#"></a>
				</p>

				<p class="footer-company-name"></p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Польский спуск 1</span> Одесса, Украина</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>    (048) 777-97-10
 </p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">   Наша почта: office@server.odessa.ua</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span></span>

				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>