<!-- Static navbar -->
{% load static %}
<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
  <!-- top nav -->
  <nav class="navbar navbar-top hidden-xs">
    <div class="container">
      <!-- left nav top -->
      <ul class="nav navbar-nav pull-left">
        <li><a href="#"><span class="text-white">г. Одесса, Польский спуск, 1</span></a></li>
      </ul>
      <!-- right nav top -->
      <ul class="nav navbar-nav pull-right">
          <li><a href="#"><span class="text-white">Связаться с нами: (048) 777-97-10</span></a></li>
       <li><a href="#"><span class="text-white">Наша почта:  office@server.odessa.ua </span></a></li>
      </ul>
    </div>
    <div class="dividline light-grey"></div>
  </nav>
  <!-- down nav -->
  <nav class="navbar navbar-down">
    <div class="container">
      <div class="flex-container">
        <div class="navbar-header flex-item">
            <div class="navbar-brand"  href="/">Server</div>
        </div>
        <ul class="nav navbar-nav flex-item hidden-xs">
          <li><a href="#">о колледже</a></li>
          <li><a href="#">образование</a></li>
          <li><a href="#">Для студентов</a></li>
          <li><a href="#">Курсы</a></li>
          <li><a href="#">Жизнь колледжа</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
        <ul class="nav navbar-nav flex-item hidden-xs pull-right">

        </ul>
        <!-- dropdown only moblie -->
          <div class="dropdown visible-xs pull-right">
            <button class="btn btn-default dropdown-toggle " type="button" id="dropdownmenu" data-toggle="dropdown">
              <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">о колледже</a></li>
              <li><a href="#">образование</a></li>
              <li><a href="#">Для студентов</a></li>
              <li><a href="#">Курсы</a></li>
              <li><a href="#">Жизнь колледжа</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </nav>
<!--bg img  -->
<div class="masthead">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="6000" id="bs-carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#bs-carousel" data-slide-to="1"></li>
                    <li data-target="#bs-carousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item slides active">
                        <div class="slide-1"></div>
                            <div class="hero">

                                    <h3>Стань программистом</h3>

                            <button class="btn btn-hero btn-lg" role="button">Узнать Больше</button>
                        </div>
                    </div>
                    <div class="item slides">
                        <div class="slide-2"></div>
                            <div class="hero-two">

                                    <h3>Попробуй себе в дизайне</h3>

                                <button class="btn btn-hero btn-lg" role="button">Узнать Больше</button>
                            </div>
                        </div>
                        <div class="item slides">
                            <div class="slide-3"></div>
                                <div class="hero-three">


                                        <h3>Ну или если ты дебил, то админом  </h3>

                                    <button class="btn btn-hero btn-lg" role="button">Узнать Больше</button>
                                </div>
                            </div>
                        </div>
                    </div>
		        </div>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
